html {
  font-family: monospace;
}

#sidebar {
  float:right;
  width:30%;
}

#game {
  width:60%;
  float:left;
}

#rules {
  margin-left: 2em;
}

.button {
  margin: .5em;
}

.buttonLabel {
  font-size:1em;
  font-weight: bold;
  margin-top:.5em;
  }

body {
  background-color:#e5e8e8;
}

td {
  font-family: monospace;
  padding: .25em;
  font-size: 1em;
  /*border: solid lightGray;*/
  border-collapse:collapse;
  width: 1em;
  min-width: 1em;
  height: 2em;
  min-height: 2em;
  max-height: 2em;
}

tr {
  border-collapse:collapse;
}

table {
  table-layout: fixed;
  border-collapse:collapse;
  border:solid gray;
  border-width:1px;
}

h1 {
  margin-top: 25px;
}
